body {
  margin: 50px;
}
.jumbotron {
  background: #fff;
  padding: 2rem 1rem;
}
.fa {
  font-size: 0.5em;
}
table {
  width: 100%;
}
th {
  text-align: center;
}
td {
  width: 11rem;
  height: 8rem;
  text-align: center;
  line-height: 100px !important;
  font-size: 1.2em;
}
td,
#year {
  font-family: monospace;
}
.day.hover {
  background: #ffc791;
  cursor: pointer;
}

#month-changer {
  width: 80%;
  display: inline-block;
}
#about {
  font-size: 5em !important;
  position: absolute;
  top: -35px;
  right: 15px;
}
#main {
  margin-left: 2rem;
  width: 55%;
}
#filters {
  padding: 2rem 2rem;
}

td input{
  position: absolute;
  display: block;
  opacity: 0.01;
}

td label {
  width: 100%;
  height: 100%;
}

td label:hover {
  cursor: pointer;
}


